.button-style {
  -fx-background-color: #d4d4d4;
  -fx-background-radius: 100;
}

.button-style-1 {
  -fx-background-color: #2563eb;
  -fx-background-radius: 100;
}

.button-style-2 {
  -fx-background-color: #dbeafe;
  -fx-background-radius: 100;
}

.ImageView {
  -fx-background-radius: 10 10 10 10;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.text-field-style {
  -fx-border-color: #2563eb;
  -fx-border-width: 2px;
  -fx-border-radius: 100;
  -fx-border-style: solid;
  -fx-font-family: "Montserrat";
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}

.text-decor {
  -fx-font-family: "Montserrat";
  -fx-font-size: 25;
  -fx-font-weight: bold;
}

.background_black {
  -fx-background-color: #00000010;
}

.background_white {
  -fx-background-color: #dbdbdbae;
  -fx-background-radius: 20;
}
.border_bottom_dashed {
  -fx-border-style: dashed;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: black;
  -fx-border-insets: 0;
}

.my-border-bottom {
  -fx-border-color: rgb(227, 227, 227);
  -fx-border-width: 0 0 1 0;
}

.background_menu_item {
    -fx-background-color: white;
    -fx-border-color: orange;
    -fx-border-width: 2px;
    -fx-border-radius: 20;
    -fx-background-radius: 100;
}